/** General page styling **/
html {
  background-color: #333;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
}

body{
  color: #eee;
  padding: 60px;
  padding-top: 30px;
  margin: 0;
}

.main {
  /*margin: 30px 0;*/
  position: relative;
}

.stageName{
  width: 450px;
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
}

.stageName h1{
  font-size: 100px;
}

.stageName input[type="button"]{
  background: #eee;
  font-size: 12px;
  padding: 6px;
  width: 60px;
  border: 1px solid #eee;
  border-radius: 2px;
  font-weight: bold;
  text-transform: uppercase;
  transition: .3s;
}

.stageName input[type="button"]:hover{
  background: #ccc;
  border: 1px solid #ccc;
  transition: .3s;
}

.stageName input[type="text"]{
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
  border: 2px solid #eee;
  border-radius: 3px;
  color: white;
  padding: 5px;
  width: 200px;
  font-size: 12px;
  text-align: center;
}

header h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  margin: 30px 0 10px 0;
}

header p {
  text-align: center;
  font-size: 14px;
  color: #666666;
  margin: 0;
  font-weight: 200;
}

/**
 * Grid container
 **/
.grid {
  max-width: 1200px;
  margin-top: 30px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item{
  position: relative; 
  height: 160px;
  width: 160px;

  -webkit-transition: .25s; 
  transition: .25s;
}

.grid-item img{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .25s; 
  transition: .25s;
}

.grid-item--large {
  width: 450px;
  height: 450px;

  -webkit-transition: .25s; 
  transition: .25s;
}

.grid-item--large img{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: .25s; 
  transition: .25s;
}

h2{
  position: absolute; 
  text-align: center;
  top: 75px; 
  left: 0; 
  width: 200px; 
}

h2 span{ 
   color: white; 
   font: bold 24px Helvetica, Sans-Serif; 
  -webkit-text-stroke: 1px black;
  -webkit-font-smoothing: antialiased;
   padding: 5px; 
}

/**
 * Artist info
 **/

.artistInfo{
  color: #000; 
  font: bold 14px Helvetica, Sans-Serif; 
  letter-spacing: -1px;  
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  display: table-cell;
  vertical-align: bottom;


  position: absolute; 
  bottom: 0; 
  left: 0; 
  max-height: 450px;
}


.artistInfo img{
  width: 80px;
  height: auto;
  margin-left: 25px;
}

.artistInfo span{
  float: left;
}

.artistInfo input{
  float: right;
}

.artistInfo p, .artistInfo ul{
  margin: 0;
}

.artistInfo input[type="button"]{
  background: rgba(255, 255, 255, .6);
  padding: 5px;
  border: 2px solid black;
  font-weight: bold;
  text-transform: uppercase;
  transition: .3s;
}

.artistInfo input[type="button"]:hover{
  background: rgba(255, 255, 255, 1);
  transition: .3s;
}

.artistInfo h3
{
  text-transform: uppercase;
  margin: 0;
  color: #F26395;
  font-size: 24px;
}

.artistInfo h4{
  margin: 0;
  text-transform: uppercase;
}

.artifacts ul{
    list-style:none;
    padding: 0;
    list-style-type: none;
}
