@font-face {
  font-family: 'edoregular';
  src: url("fonts/edo-webfont.eot");
  src: url("fonts/edo-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/edo-webfont.woff") format("woff"), url("fonts/edo-webfont.ttf") format("truetype"), url("fonts/edo-webfont.svg#edoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/** General page styling **/
html {
  background-color: #333;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  color: #fff;
  background: url("../imgs/splashscreen.jpg") no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  padding: 60px;
  padding-top: 30px;
  margin: 0; }

.main {
  position: relative; }

.stageName {
  width: 650px;
  height: 400px;
  margin: 0 auto;
  margin-top: 140px;
  text-align: center; }

.stageName p:first-of-type {
  margin: -7px;
  font-size: 20px; }

.stageName p {
  margin: 110px 0 10px 0; }

/*.stageName span{
  position: absolute;
  left: 32%;
  top: 140px;
}*/
.stageName h1 {
  font-family: 'edoregular';
  font-weight: 100;
  font-size: 125px;
  margin: 0px; }

.stageName input[type="button"] {
  background: #eee;
  font-size: 12px;
  padding: 6px;
  width: 70px;
  border: 1px solid #eee;
  border-radius: 2px;
  font-weight: bold;
  text-transform: uppercase; }

.stageName input[type="button"]:hover {
  background: #ccc;
  border: 1px solid #ccc; }

.stageName input[type="text"] {
  background-color: transparent;
  /*margin-right:15px;*/
  border: 2px solid #eee;
  border-radius: 3px;
  color: white;
  padding: 5px;
  width: 154px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase; }

header h1 {
  font-family: 'edoregular';
  text-align: center;
  font-size: 50px;
  font-weight: 200;
  margin: 10px 0; }

header p {
  text-align: center;
  font-size: 14px;
  color: #666666;
  margin: 0;
  font-weight: 200; }

.container {
  width: 1250px;
  margin: 0 auto;
}

/**
 * Grid container
 **/
.grid {
  /* margin-top: 30px; */
  width: 1250px;
  margin: 30px auto;
}

.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-item {
  float: left;
  height: 170px;
  width: 170px; }

.grid-item img {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: .5s; }

.grid-item--large {
  width: 350px;
  height: 350px; }

.grid-item--large img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: .5s; }

h2 {
  position: absolute;
  text-align: center;
  top: 56.66667px;
  left: 0;
  width: 170px; }

h2 span {
  color: white;
  font: bold 24px Helvetica, Sans-Serif;
  /* -webkit-text-stroke: 1px black; */
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  padding: 5px; }

/**
 * Artist info
 **/
.artistInfo {
  color: #333;
  font: bold 10px Helvetica, Sans-Serif;
  font-weight: 400;
  letter-spacing: -.5px;
  background: #fff;
  padding: 21.25px;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 340px; }

.artistInfo img {
  width: auto;
  height: 34px;
  display: inline-block;
  float: right; }

.artistInfo div:first-child {
  display: inline-block; }

.artistInfo div > p {
  font-weight: bold; }

.artistInfo input {
  float: right; }

.artistInfo p, .artistInfo ul {
  margin: 0; }

.artistInfo input[type="button"] {
  background: rgba(255, 255, 255, 0.6);
  padding: 5px;
  border: 2px solid black;
  font-weight: bold;
  font-size: 6.66667px;
  text-transform: uppercase; }

.artistInfo input[type="button"]:hover {
  background: white; }

.artistInfo h3 {
  text-transform: uppercase;
  margin: 0;
  color: #F26395;
  font-size: 20px; }

.artistInfo h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold; }

.artifacts ul {
  list-style: none;
  padding: 0;
  list-style-type: none; }

.closeBtn {
  color: #ccc;
  opacity: .7;
  vertical-align: top;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  font-size: 18px;
  -webkit-text-stroke: 1px #333; }

/*Choose Screen*/
.chooseScreen {
  -webkit-filter: blur(1px);
  height: 100%;
  width: 100%;
  transition: .5s; }

.bubble {
  color: black;
  position: absolute;
  width: 90%;
  top: 15%;
  margin: 0 auto;
  font-size: 40px;
  text-align: center; }

.bubble p {
  margin: -10px 0;
  max-width: 325px; }

.bubble span {
  position: absolute;
  left: 33%;
  top: 105px;
  width: 320px;
  height: 220px; }

.bubble i {
  font-family: 'edoregular';
  color: white; }

.bubble input[type="button"] {
  background: rgba(255, 255, 255, 0);
  padding: 5px;
  color: white;
  border: 1px solid white;
  font-weight: 400;
  margin: 0 12px;
  width: 110px;
  font-size: 10px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased; }

/*# sourceMappingURL=style.css.map */
