.export{
  	width: 450px;
  	height: 400px;
  	margin: 60px auto;
  	background-color: white;
  	text-align: center;
  	display: none;
  	position: relative;
}

.export p{
  	font-size: 14px;
  	font-weight: 400;
  	margin-bottom: 1px;
}

.export h1{
  	font-family: 'edoregular';
  	font-size: 60px;
  	color: white;
  	padding: 30px;
  	background-image: url("../images/modalBGiPad.jpg");
  	margin-bottom: 56px;
}

.export label{
  	font-size: 14px;
  	font-weight: 400;
}

.export label input[type=checkbox]{
    position: relative;
    vertical-align: middle;
    bottom: -1px;
}

.export input[type="text"]{
	margin-bottom: 30px;
	font-size: 17px;
	height: 32px;
	width: 210px;
	text-align: center;
	color: red;
	text-transform: uppercase;
	border: 2px solid black;
}

.export input[type="button"]{
	padding: 5px 7px;
	border: 2px solid black;
	font-weight: bold;
	background: rgba(255, 255, 255, 0);
}

.export input[type="checkbox"]{
	width: 18px;
	height: 18px;
	cursor: pointer;
	-webkit-transform: scale(1.2);
	border: 2px black solid;
}

.export section:last-of-type{
  width: 430px;
  margin: 10px;
	position: absolute;
	bottom: 0;
}

.export input[type="button"]:first-of-type{
	float: left;
}

.export input[type="button"]:last-of-type{
	float: right;
}
