#finalCheck{
  overflow: hidden;
  font-family: 'Open Sans';
  color: white;
  background-color: black;
  position: absolute;
  left:0px;
  top:0px;
  margin-left: 0;
  margin-right: 0;
  display: none;
}
/*#finalCheck p{
  position: absolute;
  bottom: 0;
  background-color: grey;
}
*/

#memButtons{
  width: 768px;
  height: 75px;
}

#textWrapper{
  color: #333;
  background: rgba(255, 255, 255, 0.7);
  padding: 14px;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 300px; 
  width: 768px;
  padding: 20px;
  font-size: 20px;
}
