#shareMemory{
  width: 450px;
  height: 400px;
  background-color: white;
  display: none;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
}
#shareMemory #shareMemoryBox{
  text-align: center;
  margin: auto;
}

#shareMemory h1{
  	font-family: 'edoregular';
  	font-size: 60px;
  	color: white;
  	padding: 30px;
  	background-image: url("../images/modalBGiPad.jpg");
    background-size: cover;
  	margin-bottom: 56px;
}

#shareMemory p{
  	font-size: 14px;
  	font-weight: 400;
  	margin-bottom: 40px;
}

#shareMemory #continue{
  padding: 5px 7px;
	border: 2px solid black;
	font-weight: bold;
}
